<div class="card-container">
  <% @character.each do |character|%>
  <div class="card">
    <div class="card-image">
      <%= cl_image_tag character.photo.key, class: 'fighter-image', crop: :fill %>
    </div>
    <div class="card-info">
      <p><%= character.name %></p>
      <p>Tier <%= character.group %></p>
    </div>
    <div class='hidden'>
        <p><%= character.origin %></p>
        <p><%= character.specialty%></p>
        <p> Victory : <%= character.victory%></p>
    </div>
  </div>
  <% end %>
</div>
